@using System.Web.Mvc.Html
@using Sitecore.Mvc
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
  <h1>Controller Test3</h1>
    <div>
    @Html.Sitecore().Placeholder("main-content")
    @{ Html.RenderAction("Test", "Dummy");}
    </div>
</body>
</html>
